<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello There</title>
        <style>
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            form {margin: 0 auto;}
        </style>
    </head>
    
    <body style="background: #FFF;">
                <h2>Check Reader</h2>
                <p>Please input the check using the following tools:</p>
                <div>
                    <form>
                        <label for="img">Upload a Check:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                      </form>
                    <p></p>
                    <form method="post">
		            <input type="text" name="Value of Check" placeholder="Value of Check" required="required" />

                    <p></p>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Submit Check</button>
                    
                    </form>
                </div>
    </body>
</html>
