<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Check Reader</title>
        <style>
            h2 {text-align: center; font-size: 45px}
            p {text-align: center; font-size: 20px}
            div {text-align: center;}
            form {margin: 0 auto;}
            body {font-family: Copperplate;}
        </style>
    </head>
    
    <body style="background: #9BA3A1;">
                <h2 style="color: black;">Check Reader</h2>
                <p style="color: black;">Please input the check using the following tools:</p>
                <div>
                    <form>
                        <label for="img" style="color: Black;">Upload a Check:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                    </form>
                    <p></p>
                    <form action="{{ url_for('predict')}}"method="post">
		            <input type="text" name="Enter Amount ($)" placeholder="Enter Amount ($)" required="required" />

                    {% if msg2 %}
                    <h1>{{ msg2 }}</h1>
                    {% endif %}
                    
                </div>
    </body>
</html>
